<div>
    <div>
        <label>Server:</label>
        <a href="<%=Spider::Master.url_for_server(server_id)%>"><%=server_name%></a>
    </div>
    <div>
        <label>Plugin:</label>
        <a href="<%=Spider::Master.url_for_plugin(plugin_id)%>"><%=plugin_name%></a>
    </div>
    
    <div>
        <%=message%>
    </div>
</div>